services:
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"   # Local:Container
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_DB: scaledb
      POSTGRES_USER: aaron
      POSTGRES_PASSWORD: pass
    ports:
      - "5432:5432"
    volumes:
      - scaledata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U aaron -d scaledb"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  scaledata: